<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <title>О НАС</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/footer-contacts.css">
    <link rel="stylesheet" type="text/css" href="styles/cross-platform-aboutus-style.css">
</head>
<body>
<div class="header_area">
    <div class="conteiner">
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a class="nav_link_logo" href="/"> <div class="header_logo">УЗНАЙКААА</div></a>
                    <nav class="nav">
                        <nav class="dws-menu">
                            <ul>
                                <li><a href="abouts"><i class="fa fa-shopping-cart"></i>О нас</a></li>
                                <li><a href="items"><i class="fa fa-cogs"></i>Предметы</a></li>

                                <li><a href="contact"><i class="fa fa-envelope-open"></i>Контакты</a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>
<div>
    <div id = "margin"></div>
    <div class="container1">
        <div class="about1" style = "font-size: 50px;">Общая информация</div>

        <hr>
        <center><div class="about2">Разделы, с которыми Вы можете ознакомиться</div></center>
        <div class="text3">
            <center> <a class="btn1" href="/vacancy">Вакансии</a></center>
            <center> <a class="btn1" href="/documents">Документы</a></center>
            <center> <a class="btn1" href="#">Образование</a></center>
            <center> <a class="btn1" href="/vacancy_place">Вакантные места</a></center>
            <center> <a class="btn1" href="#">Основные сведения</a></center>
            <center> <a class="btn1" href="#">Структура и органы ОО</a></center>
            
            
            
            
            <center> <a class="btn1" href="material.html">Материально-техническое обеспечение</a></center>
        </div>
    </div>
</body>

<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_col">
                <div class="footer_logo">УЗНАЙКААА</div>
                <div class="footer_text">Узнайкаа был создан при поддержке МОУ "Средняя школа №59 города Макеевка"</div>
                <div class="footer_social">
                    <div class="footer_social_header"><b>ВЫ</b> узнаете все!!!
                    </div>
                    <div class="footer_social_content">
                        Наши контакты:
                        <a href="tel: 0623251083" target="_blank"><img src="img/461-4619554_old-telephone-png.png">
                        </a>
                        <a href="https://vk.com/public154342374" target="_blank"><img src="img/ВКонтакте.png">
                        </a>
                        <a href="../contact" target="_blank"><img src="img/mail.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<center>2022 УЗНАЙКААА</center>

</html>