<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <title>КОНТАКТЫ</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/cross-platform-contacts-style.css">
</head>
<body>
<div class="header_area">
    <div class="conteiner">
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a class="nav_link_logo" href="/"> <div class="header_logo">УЗНАЙКААА</div></a>
                    <nav class="nav">
                        <nav class="dws-menu">
                            <ul>
                                <li><a href="abouts"><i class="fa fa-shopping-cart"></i>О нас</a></li>
                                <li><a href="items"><i class="fa fa-cogs"></i>Предметы</a></li>

                                <li><a href="contact"><i class="fa fa-envelope-open"></i>Контакты</a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>
<img class="img2" src="img/Kak-sdelat-kontakty-v-WordPress-v-shapke-sajta.jpg">
<div id = "margin"></div>

<div class="temi_area">
    <div class="container1">
        <div class="big_text2">
            НАШИ КОНТАКТЫ
        </div>
        <div class="big_text3">
            <div class="footer_social_content1">
                Страница в ВК:
                <a href="https://vk.com/public154342374" target="_blank">vk.com/public154342374</a>
            </div>
            <div class="footer_social_content1">
               Почта:
                <a href="#">makzh59@mail.ru</a>
            </div>
            <div class="footer_social_content1">
                Телефон:
                <a href="tel: 0623251083">(06232) 5-10-83</a>
            </div>
            <div class="footer_social_content1">
                Адрес:
                <a href="https://www.google.ru/maps/place/Школа+59/@48.0959536,37.9527951,16z/data=!4m5!3m4!1s0x0:0x5ca7bdb56ac66bd5!8m2!3d48.0955583!4d37.9534266" target="_blank">ДНР, 86147, город Макеевка, <br>квартал Северный, 25<br></a>
            </div>
        </div>
    </div>
</div>
<div id = "margin" style = "height: 90px;"></div>
<center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5329.48056795022!2d37.952795127508544!3d48.09595361891718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ca7bdb56ac66bd5!2z0KjQutC-0LvQsCA1OQ!5e0!3m2!1sen!2sua!4v1641237797558!5m2!1sen!2sua" width="1000" height="550" style="border:0;" allowfullscreen="" loading="lazy" id = "map"></iframe>
</center>
</body>

<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_col">
                <div class="footer_logo">УЗНАЙКААА</div>
                <div class="footer_text">Узнайкаа был создан при поддержке МОУ "Средняя школа №59 города Макеевка"</div>
                <div class="footer_social">
                    <div class="footer_social_header"><b>ВЫ</b> узнаете все!!!
                    </div>
                    <div class="footer_social_content">
                        Наши контакты:
                        <a href="tel: 0623251083" target="_blank"><img src="img/461-4619554_old-telephone-png.png">
                        </a>
                        <a href="https://vk.com/public154342374" target="_blank"><img src="img/ВКонтакте.png">
                        </a>
                        <a href="../contact" target="_blank"><img src="img/mail.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<center>2022 УЗНАЙКААА</center>
