<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Документы/Самоанализ ОО</title>
	<link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" type="text/css" href="styles/cross-platform-aboutus-style.css">
</head>
<th:block th:include="/_menu"></th:block>
<body>
	<div id = "margin"></div>
	<center>
		<img src="img/отчет-об-окончании.jpg">
		<img src="img/2-11-классы.jpg">
	</center>
</body>
<th:block th:include="/_footer"></th:block>
</html>