<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Образование</title>
	<link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<div class="header_area">
    <div class="conteiner">
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a class="nav_link_logo" href="/"> <div class="header_logo">УЗНАЙКААА</div></a>
                    <nav class="nav">
                        <nav class="dws-menu">
                            <ul>
                                <li><a href="abouts"><i class="fa fa-shopping-cart"></i>О нас</a></li>
                                <li><a href="items"><i class="fa fa-cogs"></i>Предметы</a></li>

                                <li><a href="contact"><i class="fa fa-envelope-open"></i>Контакты</a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>
<body>
    <div id = "margin"></div>
    <p style="font-size: 100px; padding: 10px;">
        <b>Языки, на которых осуществляется обучение:</b><br><br>

        В образовательной организации обучение ведется  на русском языке по основным образовательным программам начального общего, основного общего, среднего общего образования.<br><br>

        <b>Реализация основных и дополнительных образовательных программ:</b><br><br>

        Содержание общего образования определяется образовательными программами, разрабатываемыми Министерством образования и науки Донецкой Народной Республики и реализуемыми школой самостоятельно на основе государственных образовательных стандартов и образовательных учебных программ, курсов, дисциплин.<br><br>

        <b>Реализуемые уровни образования:</b><br><br>

        Школа осуществляет образовательный процесс в соответствии с уровнями общеобразовательных программ общего образования:<br>
        — начальное общее образование (нормативный срок освоения 4 года);<br>
        — основное общее образование (нормативный срок освоения 5 лет);<br>
        — среднее общее образование (нормативный срок освоения 2 года).<br>

        <b>Формы обучения:</b><br><br>

        — очная;<br><br>

        — экстернат.
    </p>
</body>
<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_col">
                <div class="footer_logo">УЗНАЙКААА</div>
                <div class="footer_text">Узнайкаа был создан при поддержке МОУ "Средняя школа №59 города Макеевка"</div>
                <div class="footer_social">
                    <div class="footer_social_header"><b>ВЫ</b> узнаете все!!!
                    </div>
                    <div class="footer_social_content">
                        Наши контакты:
                        <a href="tel: 0623251083" target="_blank"><img src="img/461-4619554_old-telephone-png.png">
                        </a>
                        <a href="https://vk.com/public154342374" target="_blank"><img src="img/ВКонтакте.png">
                        </a>
                        <a href="../contact" target="_blank"><img src="img/mail.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<center>2022 УЗНАЙКААА</center>
</html>