<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Образование</title>
	<link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<th:block th:include="/_menu"></th:block>
<body>
    <div id = "margin"></div>
    <p style="font-size: 20px; padding: 30px;">
        <b>Языки, на которых осуществляется обучение:</b><br><br>

        В образовательной организации обучение ведется  на русском языке по основным образовательным программам начального общего, основного общего, среднего общего образования.<br><br>

        <b>Реализация основных и дополнительных образовательных программ:</b><br><br>

        Содержание общего образования определяется образовательными программами, разрабатываемыми Министерством образования и науки Донецкой Народной Республики и реализуемыми школой самостоятельно на основе государственных образовательных стандартов и образовательных учебных программ, курсов, дисциплин.<br><br>

        <b>Реализуемые уровни образования:</b><br><br>

        Школа осуществляет образовательный процесс в соответствии с уровнями общеобразовательных программ общего образования:<br>
        — начальное общее образование (нормативный срок освоения 4 года);<br>
        — основное общее образование (нормативный срок освоения 5 лет);<br>
        — среднее общее образование (нормативный срок освоения 2 года).<br><br>

        <b>Формы обучения:</b><br><br>

        — очная;<br>

        — экстернат.
    </p>
</body>
<th:block th:include="/_footer"></th:block>
</html>