<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Oops</title>
	<link rel="stylesheet" type="text/css" href="styles/error.css">
</head>
<body>
	<div class="noise"></div>
	<div class="overlay"></div>
	<div class="terminal">
  		<h1>Error <span class="errorcode">404</span></h1>
  		<p class="output">Страница, которую вы ищете, могла быть удалена, изменить ее название или временно недоступна.</p>
  		<p class="output"><a href="/makschool-59.herokuapp.com">вернуться на главную страницу</a>.</p>
  		<p class="output">Good luck.</p>
  		<p class="output">3301</p>
	</div>
</body>
</html>