@media(max-device-width: 640px) {
.header_area {
	height: 8vh;
}

.header_logo {
	font-size: 60px;
}

.nav {
	font-size: 30px;
}

.dws-menu > ul li a {
	padding-top: 30px;
    font-size: 32px;
}

.footer_social_content1{
    font-size: 80px;
    width: 100%;
}
.footer_social_content1 a{
    font-size: 80px;
    width: 100%;
}

.footer{
    padding-top: 100px;
    width: 125%;
}

.footer_logo {
	font-size: 90px;
}

.footer_text {
	font-size: 60px;
}

.footer_social_header {
	font-size: 50px;
}

.footer_social_content {
	font-size: 40px;
}

.footer_social_content img{
    width: 60px;
    height: 60px;

}

#table {
	width: 125%;
}

}